<nav class="navbar navbar-light navbar-expand-md sticky-top bg-light d-none d-lg-block d-xl-block shadow-lg">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img
        lazyImg
        class="img-fluid d-none d-sm-none d-md-none d-lg-block d-xl-block navbar-brand-big"
        src="assets/img/logo_twc_no_background.webp"
        alt="logo"
      />
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item text-dark mr-2">
          <a
            [ngClass]="{ active: sectionId === 'home' }"
            class="nav-link text-dark pl-2 nav-link-classic"
            (click)="onClickScroll('home')"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item text-dark mr-2">
          <a
            [ngClass]="{ active: sectionId === 'ourfocus' }"
            class="nav-link text-dark pl-2 nav-link-classic"
            (click)="onClickScroll('ourfocus')"
            [routerLink]="['/ourfocus']"
          >
            Focus
          </a>
        </li>
        <li class="nav-item text-dark mr-2">
          <a
            [ngClass]="{ active: sectionId === 'challenge' }"
            class="nav-link text-dark pl-2 nav-link-classic"
            (click)="onClickScroll('challenge')"
            [routerLink]="['/challenge']"
          >
            Challenge
          </a>
        </li>
        <li class="nav-item dropdown show mr-2 drop-down-menu">
          <div
            [ngClass]="{ active: sectionId === 'solution' || sectionId === 'mission' }"
            class="dropdown-toggle nav-link text-dark pl-2"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            Solution&nbsp;
          </div>
          <div class="dropdown-menu border-0 shadow-lg">
            <a
              [ngClass]="{ active: sectionId === 'solution' }"
              class="dropdown-item text-dark nav-link nav-link-classic"
              (click)="onClickScroll('solution')"
              [routerLink]="['/solution']"
            >
              Solution
            </a>
            <a
              [ngClass]="{ active: sectionId === 'mission' }"
              class="dropdown-item text-dark nav-link nav-link-classic"
              (click)="onClickScroll('mission')"
              [routerLink]="['/mission']"
            >
              &nbsp;Our Mission
            </a>
          </div>
        </li>
        <li class="nav-item dropdown show mr-2 drop-down-menu">
          <div
            [ngClass]="{ active: sectionId === 'impact' || sectionId === 'partners' }"
            class="dropdown-toggle nav-link text-dark pl-2"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            Impact&nbsp;
          </div>
          <div class="dropdown-menu border-0 shadow-lg">
            <a
              [ngClass]="{ active: sectionId === 'impact' }"
              class="dropdown-item text-dark nav-link nav-link-classic"
              (click)="onClickScroll('impact')"
              [routerLink]="['/impact']"
            >
              Impact
            </a>
            <a
              [ngClass]="{ active: sectionId === 'partners' }"
              class="dropdown-item text-dark nav-link nav-link-classic"
              (click)="onClickScroll('partners')"
              [routerLink]="['/partners']"
            >
              Partners
            </a>
          </div>
        </li>
        <li class="nav-item text-dark mr-2">
          <a
            [ngClass]="{ active: sectionId === 'aboutus' }"
            class="nav-link text-dark pl-2 nav-link-classic"
            (click)="onClickScroll('aboutus')"
            [routerLink]="['/aboutus']"
          >
            About Us
          </a>
        </li>
        <li class="nav-item text-light pulse animated infinite mr-2 button-donate">
          <a
            [ngClass]="{ active: sectionId === 'donate' }"
            class="nav-link text-light nav-link-classic"
            (click)="onClickScroll('donate')"
            [routerLink]="['/donate']"
            >Donate</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
