<section id="partners" class="m-0">
  <div class="row m-0 title-section-partners lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Our Partners
      </h2>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row">
      <div class="col-12 offset-0">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h5 class="d-flex justify-content-center align-items-center description-full-brown">
              Our strength lies in the strong partnerships which we have already created and which we will create.<br />
            </h5>
            <h5 class="d-flex justify-content-center align-items-center description-full-black">
              We bridge the gap between business and social sector by engaging with NGOs, social entrepreneurs, pharmaceutical industries,
              universities, health organizations and governments.&nbsp;We bridge the gap between business and social sector by engaging with
              NGOs, social entrepreneurs, pharmaceutical industries, universities, health organizations and governments.<br /><br />
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 pb-5">
        <div class="card d-lg-flex justify-content-lg-center align-items-lg-center mb-3 border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center">
            <a class="card-link" href="https://www.ampathkenya.org/" target="_blank"
              ><img lazyImg class="img-fluid width-150 lazy" src="assets/img/logo.ampath.1.webp" alt="logo"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 pb-5">
        <div class="card d-flex justify-content-center align-items-center mb-3 border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center justify-content-xl-center">
            <a class="card-link" href="https://www.boehringer-ingelheim.at/de" target="_blank"
              ><img lazyImg class="img-fluid width-150 lazy" src="assets/img/logo.boehringer.webp" alt="logo"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 pb-5">
        <div class="card d-flex justify-content-center align-items-center mb-3 border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center">
            <a class="card-link" href="https://www.makingmorehealth.org/" target="_blank"
              ><img lazyImg class="img-fluid width-150 lazy" src="assets/img/logo.mmh.webp" alt="logo"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 pb-5">
        <div class="card d-flex justify-content-center align-items-center mb-3 border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img lazyImg class="img-fluid width-150 lazy" src="assets/img/logo.core.health.wealth.int.webp" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
