<section id="solution">
  <div class="row m-0 title-section-solution lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Solution
      </h2>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row header-row">
      <div class="col-12">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h5 class="d-flex justify-content-center align-items-center description-full-brown">
              We would like to hold women and their families by the hand and support them through the journey of cervical cancer
              prevention.&nbsp;<br />
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 pb-5">
        <div class="card shadow-lg border-0">
          <div
            class="card-body d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
          >
            <img
              lazyImg
              class="img-fluid d-flex justify-content-center align-items-center lazy"
              src="assets/img/logo.solution.3.webp"
              alt="logo"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 offset-0 d-flex justify-content-center align-items-center pb-5">
        <div class="card text-center d-flex justify-content-center align-items-center border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center">
            <p class="d-flex justify-content-center align-items-center text-dark paragraph-full-dark">
              The journey starts by educating Community Health Volunteers (CHVs) on sexual health and cervical cancer. With our work we
              enable CHVs to raise awareness about cervical cancer prevention and treatment among families in the rural communities of the
              Bungoma county in western Kenya. CHVs will identify patients and connect them to local health clinics where they can access
              cervical cancer screening. Once women receive their diagnosis, we will help them manage their follow-up treatments.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-3">
    <div class="row header-row">
      <div class="col-12">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h4 class="card-title">Our theory of change<br /></h4>
            <h6 class="text-muted card-subtitle">An informed mindset shift<br /></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
        <p class="text-center d-flex justify-content-center align-items-center text-dark paragraph-full-dark">
          Thousands of lives will be saved when women and their families understand the importance of disease prevention within the social
          and economic context they live in. With sexual health education, cervical cancer awareness and access to healthcare, we empower
          women to take their health in their own hands and to take informed decisions about their wellbeing in the future.
        </p>
      </div>
    </div>
  </div>
</section>
