<section id="aboutus">
  <div class="row m-0 title-section-about-us lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        About Us
      </h2>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row header-row">
      <div class="col-12 offset-0">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h5 class="d-flex justify-content-center align-items-center description-full-brown">
              We are an energetic team with different professional backgrounds but united by passion and determination to make healthcare
              accessible to the most vulnerable communities.<br />
            </h5>
            <a class="card-link description-full-black" href="co-founder-note.html" target="_blank">Note from the co-founder</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/valeria.santoro.webp" alt="logo" />
            <h4 class="card-title">Valeria Santoro,&nbsp;PhD</h4>
            <p class="card-text text-muted font-weight-300">Co-founder and Executive Director<br />Cancer Research Scientist<br /></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/hrvoje.cvija.webp" alt="logo" />
            <h4 class="card-title">Hrvoje Cvija,&nbsp;PhD</h4>
            <p class="card-text text-muted font-weight-300">
              Co-founder and Chief Financial Officer (CFO)
              <br />
              Director-Business Development
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/cleophas.pp.webp" alt="logo" />
            <h4 class="card-title">Cleophas Wanyonyi Chesoli</h4>
            <p class="card-text text-muted font-weight-300">
              Senior Program Manager (AMPATH)<br />Coordinator, Making More Health (MMH)<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/lydia.mwanzia.webp" alt="logo" />
            <h4 class="card-title">Lydia Mwanzia, PhD</h4>
            <p class="card-text text-muted font-weight-300">Principal Investigator-Cervical <br />cancer screening&nbsp;<br /></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/dr.omenge.webp" alt="logo" />
            <h4 class="card-title">Dr. Orang’o Elkanah Omenge</h4>
            <p class="card-text text-muted font-weight-300">
              Gynecologic Oncologist at Moi Teaching <br />and Referral Hospital Kenya<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/thorsten.laux.webp" alt="logo" />
            <h4 class="card-title">Thorsten Laux, PhD</h4>
            <p class="card-text text-muted font-weight-300">Social Intrapreneur<br />International Project Manager<br />Oncology<br /></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/irene.waizenegger.webp" alt="logo" />
            <h4 class="card-title">Irene Waizzeneger, PhD</h4>
            <p class="card-text text-muted font-weight-300">Senior Principal Scientist<br />Oncology<br /></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/photo.bianca.1.webp" alt="logo" />
            <h4 class="card-title">Bianca De Leo, PhD</h4>
            <p class="card-text text-muted font-weight-300">Women’s Health Expert <br />Pharmacist<br /></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/me-bw.webp" alt="logo" />
            <h4 class="card-title">Jeremy Bertin</h4>
            <p class="card-text text-muted font-weight-300">Web Developer</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/bernice.bio.image.webp" alt="logo" />
            <h4 class="card-title">Bernice Yalley</h4>
            <p class="card-text text-muted font-weight-300">International Development Expert</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/bernice.bio.image.webp" alt="logo" />
            <h4 class="card-title">Larisa Semernya</h4>
            <p class="card-text text-muted font-weight-300">Partnership Specialist</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-0 mb-3">
        <div class="card border-0 card-about-us bg-transparent">
          <div class="card-body text-center">
            <img lazyImg class="rounded-circle img-fluid width-150 shadow my-3 lazy" src="assets/img/natana.char.webp" alt="logo" />
            <h4 class="card-title">Natan Char</h4>
            <p class="card-text text-muted font-weight-300">Creative Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
