<section id="home">
  <div class="text-center d-none d-sm-none d-md-none d-lg-block" id="header-desktop">
    <header class="lazzy">
      <div class="container-fluid header-container">
        <div class="row header-row">
          <div class="col d-lg-flex justify-content-lg-center align-items-lg-center mt-5">
            <div class="d-lg-flex justify-content-lg-center align-items-lg-center mt-5">
              <h1 class="display-4 text-light d-lg-flex justify-content-lg-center align-items-lg-center header-heading">
                9 women die of cervical cancer in Kenya every day. <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We need
                to change that!<br />
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid header-container py-3">
      <div class="row header-row">
        <div class="col-12 col-lg-8 offset-0 offset-lg-2">
          <div class="card text-center border-0 bg-transparent">
            <div class="card-body">
              <h3 class="info-text-header">
                Together Women Can<span class="info-text-header-span"
                  >&nbsp;builds strong partnerships to provide women access to health tools, sexual health education and treatments to help
                  eradicate cervical cancer while promoting women´s empowerment.</span
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none" id="header-small-devices">
    <header class="lazzy">
      <div class="container-fluid header-container">
        <div class="row header-row">
          <div class="col text-center">
            <div class="mt-5">
              <h1 class="text-light header-heading">9 women die of cervical cancer in Kenya every day. We need to change that<br /></h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid header-container">
      <div class="row header-row">
        <div class="col-12 col-lg-8 offset-0 offset-lg-2">
          <div class="card text-center border-0 bg-transparent">
            <div class="card-body">
              <h4 class="info-text-header">
                Together Women Can<span class="info-text-header-span"
                  >&nbsp;builds strong partnerships to provide women access to health tools, sexual health education and treatments to help
                  eradicate cervical cancer while promoting women´s empowerment.</span
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
