<section id="challenge">
  <div class="row m-0 title-selection-challenge lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Challenge
      </h2>
    </div>
  </div>
  <div class="container py-3">
    <div class="row header-row">
      <div class="col-12">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h5 class="description-full-brown">
              In Kenya the lives of more than 3000 wives, daughters, mothers and grandmothers are cut short every year by cervical cancer
              and this number is foreseen to grow by 2025.&nbsp;<br />
            </h5>
            <h6 class="description-full-black">
              Lack of awareness and poor access to cervical cancer screening in rural areas are the biggest challenges to date. Only 3% of
              women in Kenya take part in cervical cancer screening. For their sisters in wealthier countries this number is 70%.&nbsp;Why
              this huge inequality? Fear, economic uncertainty, stigma and misinformation in the society may hinder access to services and
              treatments, even when they are available.<br />
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5">
        <div class="card text-center border-0 shadow-lg">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img
              lazyImg
              class="img-fluid width-300 d-flex justify-content-center align-items-center lazy"
              src="assets/img/3000.webp"
              alt="logo"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5">
        <div class="card text-center border-0 shadow-lg">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img
              lazyImg
              class="img-fluid width-300 d-flex justify-content-center align-items-center lazy"
              src="assets/img/3.percent.webp"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row header-row">
      <div class="col-12">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h5 class="description-full-brown">
              But we also have good news! Eradicating this disease within our lifetime is possible. Lets work together now to save the lives
              of thousands of women tomorrow.<br />
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
