<section id="mission">
  <div class="row m-0 title-section-our-mission lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Our Mission
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row header-row pt-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5">
        <div class="card mb-5 border-0 shadow-lg bg-transparent card-vision">
          <div class="card-body">
            <h4 class="card-title text-brown">Mission</h4>
            <p class="card-text text-dark">
              We listen to the needs of local women and their families. We work with them to bring solutions that they can identify with. We
              trigger a health-seeking behaviour and economic empowerment in rural communities that will allow for sustainable solutions
              while contributing to an ecosystem of change.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-5">
        <div class="card mb-5 border-0 shadow-lg bg-transparent card-vision">
          <div class="card-body">
            <h4 class="card-title text-brown">Vision</h4>
            <p class="card-text text-dark">
              We envisage a world with equal access to quality health education and to affordable and sustainable healthcare. This will
              eradicate curable and manageable diseases and create a positive impact on the lives of many families in the rural communities
              of western Kenya.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
