<section id="impact">
  <div class="row m-0 title-section-our-impact lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Our Impact
      </h2>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6 col-xl-6 pb-5">
        <div class="card shadow-lg card-solution border-0">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img
              lazyImg
              class="img-fluid d-flex justify-content-center align-items-center lazy"
              src="assets/img/our.impact.grap.1.webp"
              alt="logo"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 offset-0 d-flex justify-content-center align-items-center pb-5">
        <div class="card text-center d-flex justify-content-center align-items-center border-0 bg-transparent">
          <div class="card-body d-flex justify-content-center align-items-center">
            <p class="d-flex justify-content-center align-items-center text-dark paragraph-full-dark">
              Our work supports Sustainable Development Goals (SDGs) 3, 4, 5 and 17. With our holistic approach we build an ecosystem of
              change by working closely with our partners and improving women's health. In turn this creates a positive impact on the social
              and economic status of women in the Bungoma county in Kenya.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 pb-5">
        <div class="card shadow-lg card-solution border-0">
          <div class="card-body">
            <img lazyImg class="img-fluid lazy" src="assets/img/our.impact.graph.2.webp" alt="logo" /><a
              class="card-link text-center d-block"
              href="https://www.who.int/health-topics/cervical-cancer#tab=tab_2"
              target="_blank"
              >World Health Organization Website</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 offset-0 d-flex justify-content-center align-items-center pb-5">
        <div class="card text-center d-flex justify-content-center align-items-center border-0 bg-transparent">
          <div class="card-body d-lg-flex justify-content-lg-center align-items-lg-center">
            <p class="d-flex justify-content-center align-items-center text-dark paragraph-full-dark">
              We are proud of supporting and contributing to the global call for action by WHO to meet the proposed cervical cancer
              prevention goals by 2030. <br />Now is the time to act&nbsp;in unison around the world!<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
