<div class="footer-basic bg-light shadow-lg">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-transparent border-0">
            <div class="card-body social">
              <h4 class="card-title mb-5">Contact us!</h4>
              <a class="card-link" href="#"><i class="icon ion-md-mail"></i></a
              ><a class="card-link" href="#"><i class="icon ion-logo-twitter"></i></a
              ><a class="card-link" href="#"><i class="icon ion-logo-facebook"></i></a
              ><a class="card-link" href="#"><i class="icon ion-md-link"></i></a
              ><!-- Start: Social Icons -->
              <div class="social pl-0 m-0"></div>
              <!-- End: Social Icons -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-transparent border-0">
            <div class="card-body">
              <!-- Start: Links -->
              <ul class="list-inline text-left">
                <li class="list-inline-item"><a href="#home">Home</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
              </ul>
              <!-- End: Links -->
              <div class="mt-3">
                <img
                  lazyImg
                  class="img-fluid width-60 d-inline lazy"
                  src="assets/img/logo_twc_no_background.webp"
                  alt="logo"
                /><!-- Start: Copyright -->
                <p class="d-inline copyright">Together Women Can © 2020</p>
                <!-- End: Copyright -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
