<section id="ourfocus">
  <div class="row m-0 title-section-our-focus lazzy">
    <div class="col-12 col-lg-6 offset-lg-6 d-flex d-lg-flex justify-content-center align-items-center">
      <h2
        class="display-4 text-center text-light d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center heading-title-section"
      >
        Our Focus
      </h2>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row our-focus-row">
      <div class="col-12 offset-0">
        <div class="card text-center border-0 bg-transparent">
          <div class="card-body">
            <h3 class="description-full-brown">
              We want to equip women in the Bungoma county in western Kenya with the health tools needed to fight cervical cancer.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 pb-5">
        <div class="card text-center border-0 shadow-lg">
          <div class="card-body">
            <img class="img-fluid width-150 mb-3 lazy" lazyImg [src]="'assets/img/logo.our.focus.education.webp'" alt="logo" />
            <h4 class="card-title">Education</h4>
            <p class="card-text text-dark">Providing sexual health and cervical cancer education and awareness</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 pb-5">
        <div class="card text-center border-0 shadow-lg card-focus card-focus">
          <div class="card-body">
            <img class="img-fluid width-150 mb-3 lazy" lazyImg src="assets/img/logo.our.focus.prevention.webp" alt="logo" />
            <h4 class="card-title">Prevention</h4>
            <p class="card-text text-dark">Raising awareness on HPV vaccination in young girls and boys is crucial</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 pb-5">
        <div class="card text-center border-0 shadow-lg card-focus">
          <div class="card-body">
            <img class="img-fluid width-150 mb-3 lazy" lazyImg src="assets/img/logo.our.focus.diagnosis.webp" alt="logo" />
            <h4 class="card-title">Diagnosis</h4>
            <p class="card-text text-dark">Screening is able to detect early lesions that are easily treatable</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 pb-5">
        <div class="card text-center border-0 shadow-lg card-focus">
          <div class="card-body">
            <img class="img-fluid width-150 mb-3 lazy" lazyImg src="assets/img/logo.our.focus.treatment.webp" alt="logo" />
            <h4 class="card-title">Treatment</h4>
            <p class="card-text text-dark">Late stage cancer requires treatment, palliative care and mental support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
